

body {
  background-image: linear-gradient(to bottom, rgb(245, 195, 255), rgba(138, 6, 123, 0.651));
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  text-align: center;
}

h1{
  color: rgb(251, 176, 255);
  font-family: 'Courgette', cursive;
}

.button {
  min-width: 100px;
  min-height: 40px;
  margin: 16px;
  z-index: 0;
  font-weight: 700;
  border: 3px solid rgb(255, 215, 255);
  background-color: rgb(255, 186, 221);
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  border-radius: 10px;
  position: relative;
  animation: colorChange 3s infinite alternate, sizeChange 3s infinite alternate;
  font-size: 16px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(252, 252, 252);
  color: rgb(255, 186, 221);
  transform: scale(1.1);
  animation: none; /* Remove animation on hover */
}


.image{
  max-width: 320px;
  margin: 0 16px;
  opacity: 0.78;
}
.gif{
  max-width: 180px;
  opacity: 0.78;
}


.image {
  max-width: 320px;
  margin: 0 16px;
}
.wrapper-images{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {
  max-width: 180px;
}


@media (max-width: 768px) {
  .image,
  .gif {
    max-width: 50%;
  }
}